@(content: String)

@main("Here comes your document") {
 
  <div class="row-fluid"> 
	  <h4>Somebody needs to transfer the content to proper htlm!!!</h4>
          
	  <p>May have a look here:
	    <a href="http://stackoverflow.com/questions/1319657/javascript-to-convert-markdown-textile-to-html-and-ideally-back-to-markdown-t" >Stackoverflow - Markdown to HTML</a>
		or
		<a href="http://markdownj.org/">MarkdownJ</a>
      </p>

	  <h4>Here is your file:</h4>
         
      <p>@content</p>
  </div>
}