@(document: model.Document, commentRepository: dataaccess.CommentRepository)

@main("Here comes your document") {
  <div class="row-fluid"> 
	  <center>
	    <h3>Please review the following document</h3>
	    <p>You can upvote and downvote paragraphs or add comments to it, by using the icons on the left.</p>
	  </center>
	  <hr/>
      
      <div class="document">
	  @for((text, hash) <- document.blocks) {
  	    <div class="row-fluid document-block"> 
	  	  <div class="span1">
		     @commentButtons(hash)
		  </div>
	  	  <div class="span11">
	  		<p>
	  			@text
	  		</p>
	  			@for(comment <- commentRepository.find(hash)){
			  		<p class="comment-block">
			  			comment: @comment.content
			  		</p>
	  			}
		  </div>
	    </div>
	  }
	  </div>
  </div>
}

@commentButtons(hash: String) = {
	<div class="btn-group btn-group-vertical">
		<!--Comment-Hash: @hash -->
		<a class="btn btn-mini" href="#" title="Add comment"><i class="icon-comment"></i></a>
		<a class="btn btn-mini" href="#" title="Upvote (this is a good paragraph)"><i class="icon-thumbs-up"></i></a>
		<a class="btn btn-mini" href="#" title="Downvote (this is a bad paragraph)"><i class="icon-thumbs-down"></i></a>
	</div>
}