@main("SCrowd Lector - Super awesome document lectoring in the cloud") {
    
    <div class="jumbotron">
        <h1>Super awesome document lectoring in the cloud!</h1>
        <p class="lead">Use the power of the crowd to lector your documents in the cloud.<br/>No pain, pure awesomeness.</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
    </div>
    <hr>

  	<div class="row-fluid index-marketing">
       <div class="span6">
          <h4>Example documents</h4>
          <p><a href="/view/https%3A%2F%2Fraw.github.com%2FScalaHamburg%2Fscrowdlector%2Fmaster%2FREADME.md">load a document from URL</a></p>
          <p><a href="/view/example.md">load a dummy MD-document</a></p>
          <p><a href="/view/example.scala">load a dummy Scala-document</a></p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
       </div>

       <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
       </div>
 	</div>
}